.card {
	background-color: var(--secondary-bg);
	color: var(--secondary-fg);
}

.form-control {
	background-color: var(--secondary-bg) !important;
	color: var(--secondary-fg) !important;
	border-color: unset !important;
}

input::placeholder {
	color: white !important;
}

